<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=400, initial-scale=1.0">
    <title>Easy URL Shortener</title>
</head>
<body>
<div>
    <h1>Easy URL Shortener</h1>
    <form method="post" action="/shorten">
        <input type="text" name="origurl" placeholder="Enter URL to shorten">
        <input type="text" name="shortened_url" placeholder="Enter slug (optional)">
        <input type="submit" value="Shorten">
    </form>
</div>
</body>
</html>